version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: Costura.Fody
    versions:
    - 5.2.0
  - dependency-name: Newtonsoft.Json
    versions:
    - 13.0.1
