name: Build & Release

on:
  push:
    branches:
      - release

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - name: "Setup MSBuild"
        uses: microsoft/setup-msbuild@v1.0.2
          
      - name: NuGet Restore
        run: |
          nuget locals all -clear
          nuget restore    
          
      - name: Build
        run: MSBuild ".\DragonFruit.CodeCutter.sln" /t:Build /p:Configuration=Release /p:AssemblyVersion=$((Get-Date).ToString("yyyy.Mdd"))
          
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: .\DragonFruit.CodeCutter\bin\Release\net472\*.exe
          tag_name: '${{ github.run_number }}'
          name: 'v${{ github.run_number }}'
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
